<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eco Bike Rental</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: Roboto;
      }
    </style>
  </head>

  <body>
    <header
      class="w-full bg-white flex justify-center items-center drop-shadow-md z-10 sticky top-0 left-0 right-0"
    >
      <div class="w-3/5 py-3 px-2 flex justify-between items-center">
        <p class="font-bold text-2xl text-blue-500">EBR</p>
        <div id="user-status"></div>
      </div>
    </header>
    <section class="w-full flex justify-center items-center">
      <div class="w-3/5 py-3 px-2">
        <div id="bills"></div>
      </div>
    </section>
    <section class="w-full flex justify-center items-center">
      <div class="w-3/5 py-3 px-2">
        <div id="parking-lots"></div>
      </div>
    </section>
    <script>
      function signOut() {
        window.localStorage.clear();
        window.location.reload();
      }

      async function borrowBicycle(id) {
        const jwt = window.localStorage.getItem("jwt");
        if (!jwt) {
          window.location.assign(
            `${window.location.protocol}//${window.location.hostname}:${window.location.port}/signin`
          );
        }
        const response = await window.fetch(`/api/bicycles/${id}/borrow`, {
          headers: {
            Authorization: `Bearer ${jwt}`,
          },
          method: "POST",
        });
        if (response.ok) {
          window.location.reload();
        } else {
          alert(`Error ${response.status}!`);
        }
      }

      async function payBicycle(id) {
        const jwt = window.localStorage.getItem("jwt");
        if (!jwt) {
          window.location.assign(
            `${window.location.protocol}//${window.location.hostname}:${window.location.port}/signin`
          );
        }
        const response = await window.fetch(`/api/users/bicycle/${id}/return`, {
          headers: {
            Authorization: `Bearer ${jwt}`,
          },
          method: "POST",
        });
        if (response.ok) {
          window.location.reload();
        } else {
          alert(`Error ${response.status}!`);
        }
      }

      async function payBill(id) {
        const jwt = window.localStorage.getItem("jwt");
        if (!jwt) {
          window.location.assign(
            `${window.location.protocol}//${window.location.hostname}:${window.location.port}/signin`
          );
        }
        const response = await window.fetch(`/api/payments/${id}/`, {
          headers: {
            Authorization: `Bearer ${jwt}`,
          },
          method: "POST",
        });
        if (response.ok) {
          window.location.reload();
        } else {
          alert(`Error ${response.status}!`);
        }
      }

      window.addEventListener("DOMContentLoaded", async () => {
        const userStatus = document.getElementById("user-status");
        const jwt = window.localStorage.getItem("jwt");
        let me;
        if (jwt) {
          userStatus.innerHTML = `
                    <button onclick="signOut()" class="bg-blue-500 text-white font-medium text-lg text-center w-24 h-8 rounded drop-shadow">Sign out<button>
                `;
          me = await window.fetch("/api/auth/me/", {
            headers: {
              Authorization: `Bearer ${jwt}`,
            },
            method: "GET",
          });
          me = await me.json();
          const billsContainer = document.getElementById("bills");
          const textTitlePayment = document.createElement("p");
          textTitlePayment.innerText = "Bills";
          textTitlePayment.className = "text-gray-700 text-3xl font-bold";
          billsContainer.appendChild(textTitlePayment);
          const responseBill = await window.fetch(`/api/bills/user/${me.id}`);
          if (responseBill.ok) {
            const bills = await responseBill.json();
            for (let index = 0; index < bills?.length; index++) {
              const billContainer = document.createElement("div");
              const payButton = `<button class="bg-blue-500 rounded px-3 py-2 drop-shadow text-white font-semibold" onclick="payBill(${bills[index].id})">Pay</button>`;
              billContainer.className =
                "drop-shadow px-3 py-2 bg-white my-2 rounded flex flex-col w-full space-y-2";
              billContainer.innerHTML = `
                            <div class="w-full flex flex-row justify-between items-center">
                                <div class="flex flex-row items-center space-x-3">
                                    <p class="font-semibold text-gray-700 text-2xl">${index}. ${
                bills[index].total
              } VND</p>
                                    <p class="font-semibold bg-blue-400 text-white py-1 px-3 rounded drop-shadow text-lg">${
                                      bills[index].status
                                    }</p>
                                </div>
                                ${bills[index].paidAt ? "" : payButton}
                            </div>
                            <p class="font-bold text-xl text-gray-500">Bicycle: ${
                              bills[index]?.bicycle?.bicycleType
                            } (${bills[index]?.bicycle?.licensePlates})</p>
                        `;
              billsContainer.appendChild(billContainer);
            }
          }
        } else {
          userStatus.innerHTML = `
                    <a class="bg-blue-500 text-white font-medium text-lg text-center w-24 h-8 block rounded leading-8 drop-shadow" href="/signin">Sign in<a> 
                `;
        }
        const response = await window.fetch("/api/parking_lots/", {
          method: "GET",
        });
        if (response.status == 200) {
          const parkingLots = await response.json();
          const parkingLotsElement = document.getElementById("parking-lots");
          console.log(parkingLots);
          for (let index = 0; index < parkingLots.length; index++) {
            const parkingLotContainer = document.createElement("div");
            parkingLotContainer.className = "w-full flex flex-col";
            parkingLotContainer.innerHTML = `
                        <div class="w-full bg-blue-500 drop-shadow rounded">
                            <p class="text-white text-2xl px-3 py-2 font-bold">Parking Lot: ${parkingLots[index]["location"]}</p>
                        </div>
                    `;
            parkingLots[index].bicycles?.forEach((value, idx) => {
              const borrowButton = `<button class="bg-blue-500 rounded px-3 py-2 drop-shadow text-white font-semibold" onclick="borrowBicycle(${value["id"]})">Borrow</button>`;
              const payButton = `<button class="bg-red-500 rounded px-3 py-2 drop-shadow text-white font-semibold" onclick="payBicycle(${value["id"]})">Pay</button>`;
              parkingLotContainer.innerHTML += `
                        <div class="flex flex-col w-full drop-shadow bg-white px-3 py-2 rounded my-2">
                            <div class="flex justify-between items-center">
                                <p class="font-semibold text-gray-700 text-xl">${idx}. ${
                value["bicycleType"]
              }</p>
                                ${
                                  value.user
                                    ? value.user?.id == me?.id
                                      ? payButton
                                      : ""
                                    : borrowButton
                                }
                            </div>
                            <p class="font-bold text-xl text-gray-500">(${
                              value?.licensePlates
                            })</p>
                        </div>
                        `;
            });
            parkingLotsElement.appendChild(parkingLotContainer);
          }
        }
      });
    </script>
  </body>
</html>
